{% load static %}

<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Sushi</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-800 flex flex-col min-h-screen text-gray-300">
    <!-- Navbar et Header -->
    <header class="bg-gray-900 p-4">
        <div class="flex justify-between items-center">
             <nav class="text-white text-2xl">
                <ul class="flex flex-col space-y-4 text-right">
                    <li><a href="#" class="hover:text-yellow-500">Réservations</a></li>
                    <li><a href="{% url 'home' %}" class="hover:text-yellow-500">Accueil</a></li>
                    <li><a href="{% url 'menu' %}" class="hover:text-yellow-500">Menu</a></li>
                    <li><a href="{% url 'history' %}" class="hover:text-yellow-500">Notre Histoire Familiale</a></li>
                    <li><a href="{% url 'contact' %}" class="hover:text-yellow-500">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="flex items-center justify-center p-12">
        <!-- Formulaire centré et réduit -->
        <div class="mx-auto w-full max-w-sm bg-yellow-100 rounded-lg p-8 shadow-lg">
            <form>
                <div class="mb-5">
                    <label for="fName" class="mb-3 block text-base font-medium text-black">
                        Prénom
                    </label>
                    <input type="text" name="fName" id="fName" placeholder="Prénom"
                        class="w-full rounded-lg border border-gray-300 bg-white py-2 px-4 text-base font-medium text-black outline-none focus:border-yellow-500 focus:shadow-md" />
                </div>
                
                <div class="mb-5">
                    <label for="lName" class="mb-3 block text-base font-medium text-black">
                        Nom
                    </label>
                    <input type="text" name="lName" id="lName" placeholder="Nom"
                        class="w-full rounded-lg border border-gray-300 bg-white py-2 px-4 text-base font-medium text-black outline-none focus:border-yellow-500 focus:shadow-md" />
                </div>

                <div class="mb-5">
                    <label for="guest" class="mb-3 block text-base font-medium text-black">
                        Nombre d'invités
                    </label>
                    <input type="number" name="guest" id="guest" placeholder="1" min="0"
                        class="w-full rounded-lg border border-gray-300 bg-white py-2 px-4 text-base font-medium text-black outline-none focus:border-yellow-500 focus:shadow-md" />
                </div>

                <div class="mb-5">
                    <label for="date" class="mb-3 block text-base font-medium text-black">
                        Date
                    </label>
                    <input type="date" name="date" id="date"
                        class="w-full rounded-lg border border-gray-300 bg-white py-2 px-4 text-base font-medium text-black outline-none focus:border-yellow-500 focus:shadow-md" />
                </div>

                <div class="mb-5">
                    <label for="time" class="mb-3 block text-base font-medium text-black">
                        Heure
                    </label>
                    <input type="time" name="time" id="time"
                        class="w-full rounded-lg border border-gray-300 bg-white py-2 px-4 text-base font-medium text-black outline-none focus:border-yellow-500 focus:shadow-md" />
                </div>
                
                 <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="service">
                Service
            </label>
            <select
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="service" name="service">
                <option value="">Select a service</option>
                <option value="Demande">Demande particulière</option>
                <option value="Mariage">Mariage</option>
                <option value="Allergies">Allergies</option>
                <option value="Partenariat">Partenariat</option>
            </select>
        </div>
<div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="message">
                Message
            </label>
            <textarea
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="message" rows="4" placeholder="Enter any additional information"></textarea>
        </div>
                <div class="text-center">
                    <button class="hover:shadow-form rounded-md bg-yellow-500 py-2 px-6 text-center text-base font-semibold text-white outline-none">
                        Réserver
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
